In [26]:
pip install xgboost

Requirement already satisfied: xgboost in c:\anaconda\lib\site-packages (1.4.1)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from xgboost) (1.3.1)
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from xgboost) (1.16.5)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
import xgboost as xgb

In [28]:
dataset=pd.read_csv("insurance_pre.csv")

In [29]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [30]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [31]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [32]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [33]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [34]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [35]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [36]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [37]:
dependent=dataset[["charges"]]

In [38]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [39]:
pip install --upgrade lightgbm scikit-learn

Requirement already up-to-date: lightgbm in c:\anaconda\lib\site-packages (4.1.0)
Requirement already up-to-date: scikit-learn in c:\anaconda\lib\site-packages (1.0.2)
Requirement already satisfied, skipping upgrade: numpy in c:\anaconda\lib\site-packages (from lightgbm) (1.16.5)
Requirement already satisfied, skipping upgrade: scipy in c:\anaconda\lib\site-packages (from lightgbm) (1.3.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\anaconda\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\anaconda\lib\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [41]:
X_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [42]:
pip install --upgrade xgboost

Collecting xgboost
  Using cached https://files.pythonhosted.org/packages/24/14/d9ecb9fa86727f51bfb35f1c2b0428ebc6cd5ffde24c5e2dc583d3575a6f/xgboost-1.6.2-py3-none-win_amd64.whl
Requirement already satisfied, skipping upgrade: scipy in c:\anaconda\lib\site-packages (from xgboost) (1.3.1)
Requirement already satisfied, skipping upgrade: numpy in c:\anaconda\lib\site-packages (from xgboost) (1.16.5)
Installing collected packages: xgboost
  Found existing installation: xgboost 1.4.1
    Uninstalling xgboost-1.4.1:
      Successfully uninstalled xgboost-1.4.1
Successfully installed xgboost-1.6.2
Note: you may need to restart the kernel to use updated packages.

In [43]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\anaconda\lib\site-packages (1.0.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\anaconda\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\anaconda\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14.6 in c:\anaconda\lib\site-packages (from scikit-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: scipy>=1.1.0 in c:\anaconda\lib\site-packages (from scikit-learn) (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [44]:
pip install xgboost==1.4.1

Collecting xgboost==1.4.1
  Using cached https://files.pythonhosted.org/packages/cb/c2/fd5389cd1ef1be94133af6d71aecdd76dccc875b061a375f4eae52c0efb5/xgboost-1.4.1-py3-none-win_amd64.whl
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from xgboost==1.4.1) (1.16.5)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from xgboost==1.4.1) (1.3.1)
Installing collected packages: xgboost
  Found existing installation: xgboost 1.6.2
    Uninstalling xgboost-1.6.2:
      Successfully uninstalled xgboost-1.6.2
Successfully installed xgboost-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [45]:
from xgboost import XGBRegressor
regressor =  XGBRegressor(n_estimators=1000, max_depth=7)
regressor.fit(X_train, Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=7, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=1000,
             n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, reg_lambda=1, ...)

In [46]:
Y_pred=regressor.predict(X_test)

In [47]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,Y_pred)

In [48]:
r_score

0.812598313722998

In [49]:
import pickle
filename="finalized_model_mul_linear_Assignment.sav"
pickle.dump(regressor,open(filename,'wb'))

In [50]:
loaded_model=pickle.load(open("finalized_model_mul_linear_Assignment.sav",'rb'))
result=loaded_model.predict([[12,34,2,0,1]])

ValueError: training data did not have the following fields: age, bmi, children, sex_male, smoker_yes

In [ ]:
result